In [5]:
import pandas as pd
import os

In [9]:
# Define the directory containing the .txt files
directory = "ZTMPoznanGTFS"

# Initialize an empty dictionary to store DataFrames
pliki = {}

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".txt"):
        # Extract the name of the file without the .txt extension
        key = os.path.splitext(filename)[0]
        
        # Construct the full path to the file
        filepath = os.path.join(directory, filename)
        
        # Read the file into a DataFrame
        df = pd.read_csv(filepath)  # Assuming the data is in CSV format, modify this if needed
        
        # Store the DataFrame in the dictionary with the filename as the key
        pliki[key] = df

In [10]:
pliki.keys()

dict_keys(['agency', 'calendar', 'calendar_dates', 'feed_info', 'routes', 'shapes', 'stops', 'stop_times', 'trips'])

In [19]:
pliki['trips']

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id,wheelchair_accessible,brigade
0,1,1,1_978687^+,Franowo,0,114667,0,10
1,1,1,1_978689^+,Franowo,0,114667,0,10
2,1,1,1_978691^+,Franowo,0,114667,0,10
3,1,1,1_978699^+,Franowo,0,114667,0,12
4,1,1,1_978701^+,Franowo,0,114667,0,12
...,...,...,...,...,...,...,...,...
47191,911,7,7_1025407^+,Biedrusko/Park,0,115638,0,6
47192,911,7,7_1025411^+,Biedrusko/Park,0,115638,0,6
47193,911,7,7_1025413^+,Biedrusko/Park,0,115638,0,6
47194,911,7,7_1025417^+,Biedrusko/Park,0,115638,0,6
47195,911,7,7_1024999,Rondo Śródka,1,115812,0,21